<main class="container is-max-desktop">
  <div class="section">
    <h1 class="is-size-1 has-text-centered has-text-weight-semibold">Login</h1>
    <div class="field">
      <label for="email" class="label">email</label>
      <div class="control">
        <input type="text" class="input" id="email" />
      </div>
    </div>
  </div>
</main>